.market-container{
    width: 100%;
    max-width: 100%;
}

.market{
    margin: 30px 0;
}

.market .market-wrapper{
    max-width: 1140px;
    margin: 0 auto;
    font-size: 14px;
}

.market-wrapper .marketPan{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.02);
    background-clip: content-box;
    background-color: #fff;
    margin-bottom: 24px;
}

.marketPan .sideBar{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    background: #35425b;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 2;
}

.affix{
    z-index: 10;
}

.marketPan .sidebarItem{
    position: relative;
    cursor: pointer;
}
.marketPan .sidebarItem[role="active"] a{
    color: #ffffff;
    background: #0e75ee;
}

.marketPan .sidebarItem a:hover{
    color: #ffffff;
    background: #242d3f
}


.marketPan .sidebarItem a{
    position: relative;
    -webkit-tab-highlight-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #7985ab;
    height: 50px;
    width: 100%;
}
.kucoinIcon {
    font-family: 'kucoin' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.material-icons.iconSetLine:before {
    content: "settings";
}
.material-icons.iconPublic:before {
    content: "public";
}
.material-icons.iconStar:before {
    content: "star";
}.material-icons.iconMoney:before {
    content: "monetization_on";
}



.marketPan .mainPan{
    position: relative;
    z-index: 1;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 400px;
}

.tabs{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    zoom: 1;
    color: rgba(0, 0, 0, 0.7);
}
.tabs:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

.tabs:before, .tabs:after {
    content: " ";
    display: table;
}



.market-wrapper .tabs-bar{
    padding: 0 16px;
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    background-color: #eef1f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-bottom: 0;
}

.tabs-bar{
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 16px;
    outline: none;
    -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tabs-extra-content{
    line-height: 32px;
}
.searchControl {
    display: block;
    position: relative;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.searchControl input {
    position: relative;
    display: block;
    width: 100%;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
    font-size: 14px;
    line-height: 1.428571429;
    padding: 5px 10px 5px 30px;
    outline: none;
    height: 32px;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.02);
    border-radius: 40px;
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.searchControl i {
    position: absolute;
    left: 10px;
    top: 50%;
    width: 16px;
    font-size: 14px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

.material-icons.iconSearch:before{
    content: "search"
}

.market-wrapper .tabs-nav-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: -1px;
    border-bottom: none;
    height: auto;
    font-size: 14px;
}
.tabs-nav-container:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.tabs-nav-container:before, .tabs-nav-container:after {
    content: " ";
    display: table;
}
.tabs-nav-container{
    overflow: hidden;
    font-size: 16px;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    margin-bottom: -1px;
    -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    zoom: 1;
}

.tabs .tabs-nav-wrap{
    margin-bottom: 0;
    overflow: hidden;
}
.tabs-nav-scroll {
    overflow: hidden;
    white-space: nowrap;
}
.tabs-nav:after {
    clear: both;
}
.tabs-nav:before, .tabs-nav:after {
    display: table;
    content: " ";
}
.tabs-nav {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 0;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.tabs.tabs-card > .tabs-bar .tabs-ink-bar {
    visibility: hidden;
}

.tabs-top .tabs-ink-bar-animated, .tabs-bottom .tabs-ink-bar-animated {
    -webkit-transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tabs-ink-bar {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 2px;
    background-color: #0e75ee;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.market-wrapper .tabs.tabs-card > .tabs-bar .tabs-tab-active {
    border-color: rgba(0, 0, 0, 0.02);
    background: #fff!important;
    background-clip: padding-box !important;
    border-bottom-color: #fff!important;
    color: #333!important;
    cursor: text;
}

.market-wrapper .tabs.tabs-card > .tabs-bar .tabs-tab {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 8px 16px;
    color: #333;
    border-radius: 0;
    position: relative;
    bottom: -1px;
}

.tabs.tabs-card > .tabs-bar .tabs-tab-active {
    background: #fff;
    border-color: #d9d9d9;
    color: #0e75ee;
    padding-bottom: 5px;
}

.tabs.tabs-card > .tabs-bar .tabs-tab {
    padding: 5px 16px 4px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.tabs.tabs-card > .tabs-bar .tabs-tab {
    margin: 0;
    border: 1px solid #d9d9d9;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: #f9f9f9;
    margin-right: 2px;
}

.tabs-nav .tabs-tab {
    display: inline-block;
    height: 100%;
    margin-right: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 8px 20px;
    -webkit-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    text-decoration: none;
}
.tabs:not(.tabs-vertical) > .tabs-content {
    width: 100%;
}

.tabs:not(.tabs-vertical) > .tabs-content > .tabs-tabpane {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    -webkit-transition: opacity .45s;
    -o-transition: opacity .45s;
    transition: opacity .45s;
    opacity: 1;
}

.tabs:not(.tabs-vertical) > .tabs-content > .tabs-tabpane {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    -webkit-transition: opacity .45s;
    -o-transition: opacity .45s;
    transition: opacity .45s;
    opacity: 1;
}

.tabs.tabs-card .tabs-content > .tabs-tabpane, .tabs.tabs-editable-card .tabs-content > .tabs-tabpane {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.table-wrapper {
    zoom: 1;
}
.table-wrapper:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}
.table-wrapper:before, .table-wrapper:after {
    content: " ";
    display: table;
}

.ant-spin-nested-loading {
    position: relative;
}

.spin-container {
    position: relative;
}

