.bar-wrapper{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    background-clip: padding-box;
}

.bar-wrapper .bar{
    margin: 0 auto;
    max-width: 1140px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
}

.bar-wrapper .bar .barStart{

}

.bar-wrapper .bar .barEnd{

}
