.header-wrapper{
  overflow: hidden;
  padding: 0;
  height: 56px;
  line-height: 56px;

}
.header-wrapper .header-room{
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header-wrapper .headroom-wrapper {
  max-width: 1140px;
  position: relative;
  zoom: 1;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header-wrapper .header-nav{
  display: flex;
  align-items: center;
}
.header-wrapper .header-nav .wallet-logo-wrapper{
  line-height: 0;
  margin: 0 16px 0 0;
}
.header-wrapper .header-nav .wallet-logo-wrapper .logo{
  background-image: url(https://assets.kucoin.com/www/1.6.15/pc/static/logo_v.1.0.a0267de6.svg);
  background-size: 100% 100%;
  width: 100px;
  height: 30px;
}
.header-wrapper .header-nav ul{
  display: flex;
  height: 100%;
  list-style-type: none;
  border: none;
  background: transparent;
  margin: 0 16px;
  font-size: 15px;
  padding: 0;
}
.header-wrapper .header-nav li{
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer
}

.header-wrapper .header-nav li:focus{
}

.header-wrapper .header-nav ul li .item{
  position: relative;
  color: rgba(255, 255, 255, 0.9);
  line-height: 56px;
  height: 100%;
  display: block;
  padding: 0 16px;
}

.header-wrapper .header-nav ul .selected-item .item::after{
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  bottom: 8px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.9);
  left: 50%;
  margin-left: -2px;
}

.header-wrapper .account-control-wrapper{
  position: absolute;
  height: 56px;
  line-height: 56px;
  right: 0;
}
.header-wrapper .account-control-wrapper button{
  margin: auto 0;
  padding: 0 12px;
  display: inline-block;
  height: 30px;
  line-height: 28px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  background: transparent;
  font-size: inherit;
}


.header-wrapper #login-btn{
  margin-right: 8px;
  color: #0e75ee;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1)
}

.header-wrapper #signup-btn{
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.8)
}
