.App {
    position: relative;
    background: #f6f6f6;
    height: 100%;
    width: 100%;
}

.layout-content {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
}

.layout{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    background: #ececec;
}

.main-container{
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    flex: auto;
}

.flex-row{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
}

.flex-row::before,.flex-row::after{
    content: " ";
    display: table;
}

.flex-row::after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0;
}

a {
    background: transparent;
    text-decoration: none !important;
    outline: none;
}
ul, ol {
    list-style: none;
}

@media only screen and (max-width: 768px){
    .offset-halfone{
        margin-left: 4.16666667%;
    }
}

@media only screen and (min-width: 992px){

}
.col-3 , .col-4, .col-md-4,.col-lg-4, .col-6,.col-10, .col-md-10,.col-lg-10, .col-11, .col-12, .col-md-12{
    position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    float: left;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
/*config global colors*/
.color-high {
    color: #01aa78;
}
.color-low {
    color: #ff5f73;
}
.color-primary {
    color: #0e75ee;
}
.color-gray {
    color: rgba(0, 0, 0, 0.4);
}
.color-buy {
    color: #01aa78;
}
.color-sell {
    color: #ff5f73;
}
/*config font size*/
.font-size-12 {
    font-size: 12px;
}

/*config global margin*/
.mr-12{
    margin-right: 12px;
}
.ml-12 {
    margin-left: 12px;
}
.mb-12 {
    margin-bottom: 12px;
}
.mr-6 {
    margin-right: 6px;
}
.ml-6 {
    margin-left: 6px;
}
.mr-4 {
    margin-right: 4px;
}
.ml-4 {
    margin-left: 4px;
}
.pull-right {
    float: right;
}

/*config tooltip*/
.tooltiptextTop {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0px;
    width: 80px;
    position: absolute;
    z-index: 1;
    bottom: 180%;
    left: 20%;
}
.tooltiptextTop:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
}

.tooltiptextBottom {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
    width: 80px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
    top: 200%;
    left: -100%;
}

.tooltiptextBottom:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}
